* {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: white;
}

body {
    background-color: rgb(0, 0, 33);
    color: white;
    font-family: 'Poppins', sans-serif;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    background-color: rgb(4, 4, 40);
}

nav ul {
    display: flex;
    justify-content: center;
}

nav ul li {
    list-style: none;
    margin: 0 23px;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

nav ul li a:hover {
    color: rgb(39, 39, 131);
    font-size: 1.1rem;
}

.left {
    font-size: 1.5rem;
}

.firstSection {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 80px 0;
}

.firstSection>div {
    width: 37%;
}

.leftSection {
    font-size: 3rem;
}

.leftSection .buttons {
    padding: 20px 60px;
}

.leftSection .btn {
    padding: 12px;
    background-color: #37519C;
    color: white;
    border: 2px solid white;
    border-radius: 6px;
    font-size: 20px;
    cursor: pointer;

}

.rightSection img {
    width: 80%;
}

.name {
    color: rgb(170, 107, 228);
}

#element {
    color: rgb(170, 107, 228);
}

.secondSection {
    max-width: 80vw;
    margin: auto;
    height: 500px;
}

.secondSection .box {
    background: white;
    width: 30vw;
    height: 2px;
    margin: 56px 0;
    display: flex;
}

.secondSection .vertical {
    height: 93px;
    width: 1px;
    background-color: white;
    margin: 0 120px;
}

main hr {
    border: 0;
    background-color: rgb(170, 107, 228);
    height: 0.1rem;
    margin: 40px 84px;
}

.image-top {
    width: 23px;
    position: relative;
    top: -32px;
    left: -9px;
}

.vertical-title {
    position: relative;
    top: 75px;
    width: 150px;
}

.vertical-desc {
    position: relative;
    top: 86px;
    color: gray;
    width: 150px;
    font-size: 10px;
}

footer {
    background-color: rgb(4, 4, 40);
}

.footer {
    display: flex;
    padding: 23px 122px;
    justify-content: space-evenly;
}

.footer ul {
    list-style: none;
}

.footer ul li a {
    text-decoration: none;
    color: white;
}

.footer>div {
    width: 223px;
}

footer .footer-url {
    text-align: center;
    padding: 1rem;
    color: gray;
}

.line {
    width: 33px;
    background-color: white;
    height: 4px;
    margin: 3px 3px;
}

.burger {
    display: none;
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 15px;
}



/* ====================
Responsive Section
=======================*/

/* Tablet desktop :768px. */

@media only screen and (min-width: 768px) and (max-width: 1485px) {

    header .right,
    .leftSection .btn {
        font-size: 15px;
    }

    header .left,
    .firstSection div,
    .leftSection span,
    #element {
        font-size: 25px;
    }

    .leftSection .buttons {
        padding: 10px 10px;
    }

    .leftSection .btn {
        font-size: 14px;
    }

    .secondSection,
    footer {
        font-size: 10px;
    }

    .secondSection .vertical-desc {
        font-size: 7px;
    }

}

/* Large Mobile :480px. */

@media only screen and (max-width: 767px) {

    nav,
    nav ul {
        display: block;
        text-align: center;
    }

    nav ul li {
        padding: 10px;
    }

    nav {
        text-align: center;
        height: 255px;
        transition: all 0.7s ease-out;
    }

    .burger {
        display: block;
    }

    .h-nav-resp {
        height: 52px;
    }

    .v-class-resp {
        opacity: 0;
    }

    .navigation .left {
        display: block;
        font-size: 20px;
    }

    .firstSection {
        flex-direction: column-reverse;
        max-width: 100%;
    }

    .firstSection .leftSection {
        font-size: 20px;
        width: 90%;
        text-align: center;
    }

    .leftSection .buttons {
        padding: 10px 10px;
    }

    .leftSection .btn {
        font-size: 14px;
    }

    .secondSection,
    footer {
        font-size: 10px;
    }

    .secondSection {
        max-width: 90%;
        margin: auto;
        height: 350px;
    }

    .secondSection .vertical-desc {
        font-size: 7px;
    }

    .secondSection .box {
        background: white;
        width: 1px;
        height: 90px;
        margin: 20px 50px;
        flex-direction: column;
    }

    .secondSection .vertical {
        height: 2px;
        width: 29px;
        background-color: white;
        margin: 56px 0;
    }

    .image-top {
        width: 23px;
        position: relative;
        top: -12px;
        left: -30px;
    }

    .vertical-title {
        position: relative;
        top: -20px;
        width: 150px;
        left: 20px;
    }

    .vertical-desc {
        position: relative;
        top: -18px;
        left: 20px;
        color: gray;
        width: 150px;
        font-size: 10px;
    }

}


/* small mobile :320px. */

@media only screen and (max-width: 479px) {
    .navigation .left {
        display: block;
        font-size: 1rem;
        padding: 10px;
    }

    .firstSection .leftSection {
        font-size: 1.2rem;
        width: 90%;
        text-align: center;
    }

    .leftSection .btn {
        font-size: 0.5rem;
    }

    .footer {
        /* display: block; */
        /* flex-direction: column; */
        text-align: center;
        padding: 23px 10px;
        font-size: 7px;
    }

    .footer ul li {
        padding: 2px;
    }

    footer .footer-url {
        text-align: center;
        padding: 1rem;
        font-size: smaller;
        color: gray;
    }

}
